@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  all: unset;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.drop {
  filter: drop-shadow(0px 3px 8px rgba(50, 50, 71, 0.05))
    drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
}

.text-success {
  color: #66cb9f;
}

.text-danger {
  color: #f16063;
}

.message-color {
  color: #4c6fff;
}
